<div
  class="slider-container"
  #sliderContainer
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp()"
  (mouseleave)="onMouseUp()"
  (mousemove)="onMouseMove($event)"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
>
  <div
    #slideContainer
    class="slides"
    [ngStyle]="{ transform: 'translateX(' + -currentSlide() * 100 + '%)' }"
    [style]="{ cursor: 'drag' }"
  >
    <!-- Prepend last slide for infinite scroll -->
    <div class="slide">
      <ng-container [ngComponentOutlet]="slides[slides.length - 1].component">
      </ng-container>
    </div>
    @for (slide of slides; track $index) {
    <div class="slide">
      <!-- Slide Component -->
      <ng-container
        [ngComponentOutlet]="slide.component"
        [ngComponentOutletInputs]="slide.inputs"
      >
      </ng-container>
    </div>
    }
    <!-- Append first slide for infinite scroll -->
    <div class="slide">
      <ng-container [ngComponentOutlet]="slides[0].component"> </ng-container>
    </div>
  </div>

  <!-- Navigation buttons -->
  @if(navigator){
  <div class="navigation">
    <button (click)="prevSlide()">
      <div *ngIf="hasPrevious; else defaultPrevious">
        <ng-content select="[slider-navigator-previous]"></ng-content>
      </div>
      <ng-template #defaultPrevious> &#8249; Previous </ng-template>
    </button>
    <button (click)="nextSlide()">
      <div *ngIf="hasNext; else defaultNext">
        <ng-content select="[slider-navigator-next]"></ng-content>
      </div>
      <ng-template #defaultNext> Next &#8250; </ng-template>
    </button>
  </div>
  }

  <!-- Bullet points -->
  @if(bullets){
  <div class="bullet-points">
    <span
      class="bullet"
      [class.active]="
        currentSlide() === 1 || currentSlide() === slides.length + 1
      "
      (click)="goToSlide(1)"
    >
    </span>
    @for (item of slides; track $index) {
    <span
      class="bullet"
      *ngIf="$index != 0 && $index != slides.length - 1"
      [class.active]="$index + 1 === currentSlide()"
      (click)="goToSlide($index + 1)"
    >
    </span>
    }

    <span
      class="bullet"
      [class.active]="currentSlide() === 0 || currentSlide() === slides.length"
      (click)="goToSlide(slides.length)"
    >
    </span>
  </div>
  }
</div>
